.App {
  text-align: center;
}
.logo{
width:200px;

}
.nav-link
{
  letter-spacing: normal;
  cursor: pointer;

}
nav ul li
{
  text-shadow: teal;
  text-overflow: initial;
  text-transform: uppercase;
}
.navbar-nav > li > a{
 
  color: antiquewhite    !important;
  margin-right: 12px;
  margin-left: 12px;
}
.navbar-brand
{
  padding: 0 !important;
  height: 6.5rem  !important;
  max-width: 17rem;
}
.navbar-nav > li > a.active , .navbar-nav > li > a:hover
{
  border-top: 0.075rem solid orange;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
